.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 100px) {
  .poster-img {
    width: 30%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .poster-img {
    width: 40%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .poster-img {
    width: 50%;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .poster-img {
    width: 50%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
